.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin: 20px 0px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons span .fa-cog {
  position: relative;
}

.screen-header__cog-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 50px;
}
